<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucid Larks - IMS</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- custom css file link  -->
    <!-- <link rel="stylesheet" href="/static/css/upload.css"> -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
</head>
<style>
    p{
        font-size: medium;
        margin: auto; 
        padding-top: 10px;
        padding-left: 63px;
        text-transform: none;
    }
</style>
<body>
    
<!-- header section starts  -->

<header>

    <!-- <div id="menu-bar" class="fas fa-bars"></div> -->

    <a href="#" class="logo"><img src="/static/images/logonobackground.png" alt="logo"  style="height: 100px;"></a>

</header>

<section class="home" id="home">

    <div class="content">
        <h3 > Welcome to Lucid Larks</h3>
        <p>Get your flower</p>
    </div>


    <div class="video-container">
        <video src="/static/images/landing page.webm" id="video-slider" loop autoplay muted></video>
    </div>

</section>
<div class="container">
    <h1 class="mt-5" style="margin: auto; align-items: center; width: 200px;">Prediction Result</h1>
    <div class="card mt-3" style="max-width: 400px; margin: auto;">
        <div class="card-body">
            <div class="mt-3" style="margin:auto;align-items: center; max-width:370px ;" >
                {% if image_path %}
                <img src="{{ url_for('static', filename=image_path.split('/')[-1]) }}" alt="Uploaded Image" style="max-width: 300px;height: 200px; margin: auto;align-items: center; padding-left: 58px;">
    <br>
   
            
            {% if value == 0 %}
                <p>It is a Rose</p><br>
                <p>Roses are most commonly found in gardens and parks,thriving in the country's temperate climate, particularly in the valleys.It symbols love and purity.</p>
            {% elif value == 1 %}
                <p>It is a Daisy</p><br>
                <p>In Bhutan, particularly in the southern regions, yellow deisies are comminly used during the Diwali festival. Daisies symbols joys and prosperity</p>
            {% elif value == 2 %}
                <p>It is a Tulip</p><br>
                <p>Tulips in Bhutan are a relatively recent introduction, cultivated mainly in botanical garens and private collection.It symbols variety of emotions.</p>
            {% elif value == 3 %}
                <p>It is a Dandelion</p><br>
                <p>Dandelions are often seen as a source of fun, especially for children, who enjoy blowing on the seed heads and to watch the seeds float away in the wind.</p>
            {% elif value == 4 %}
                <p>It is a Sunflower</p>
                <p>Sunflowers are widely recognized for their large, bright yellow blooms and their ability to trun toward the sun, a phenomenon known as heliotropism.</p>
            {% else %}
                <p>Not Recognized</p>
            {% endif %}
            <a href="{{ url_for('index') }}" class="btn mt-3" style="background-color: #54ca60; color: aliceblue; border: none; border-radius: 0.2rem; padding: 0 1rem; height: 36px; line-height: 26px; font-family: inherit; font-weight: 700; font-size: 14px; text-decoration: none; text-transform: initial; cursor: pointer; transition: all 0.2s ease-in-out; width: 30%;">Go Back</a>
        
        </div>
    </div>
</div>


<section class="packages" id="Flowers">

    <h1 class="heading">
        <span>f</span>
        <span>l</span>
        <span>o</span>
        <span>w</span>
        <span>e</span>
        <span>r</span>
        <span>s</span>
    </h1>

    <div class="box-container">

        <div class="box">
            <img src="/static/images/3.jpg" alt="">
            <div class="content">
                <h3></i> Rose </h3>
                <p>The rose is one of the most iconic and beloved flowers in the world, admired for its exquisite beauty, fragrant aroma, and rich symbolism. Belonging to the Rosaceae family, the rose is a perennial plant with over 300 species and thousands of cultivars, each offering a unique combination of color, form, and fragrance.</p>
            </div>
        </div>

        <div class="box">
            <img src="/static/images/1.jpg" alt="">
            <div class="content">
                <h3></i>Daisy</h3>
                <p>The daisy is a charming and cheerful flower that belongs to the Asteraceae family, one of the largest families of flowering plants. Known for its simplicity and beauty, the daisy is often associated with innocence, purity, and new beginnings.</p>
            </div>
        </div>

        <div class="box" style="color: white;">
            <img src="/static/images/4.jpg" alt="">

            <div class="content">
                <h3></i> Sunflower </h3>
                <p>The sunflower, scientifically known as Helianthus annuus, is a vibrant and iconic flower renowned for its striking appearance and its symbolic association with positivity and warmth. Belonging to the Asteraceae family, sunflowers are native to North America but have become beloved worldwide for their beauty and utility.</p>
            </div>
        </div>
        <div class="box">
            <img src="/static/images/2.jpg" alt="">
            <div class="content">
                <h3></i>Dandelion </h3>
                <p>The dandelion, scientifically known as Taraxacum officinale, is a familiar and resilient flower that belongs to the Asteraceae family. Often considered a weed, the dandelion is, in fact, a versatile and valuable plant with a rich history of use in medicine, cuisine, and ecology.</p>
            </div>
        </div>

        <div class="box">
            <img src="/static/images/5.jpg" alt="">
            <div class="content">
                <h3></i>Tulip </h3>
                <p>Tulips are a genus of spring-blooming perennial herbaceous bulbiferous geophytes. The flowers are usually large, showy and brightly coloured, generally red, pink, yellow, or white. They often have a different coloured blotch at the base of the tepals, internally.</p>
            </div>
        </div>



    </div>

</section>

<!-- packages section ends -->


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</body>
<script>

</script>

</html>